@keyframes animationOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  color: #feeedb;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: #171717;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: #feeedb;
  padding: 20px;
}

header nav {
  margin-right: 50px;
}

header nav ul,
header nav li {
  color: #feeedb;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  text-shadow: 8px 8px 8px #2b6af2;
}

header nav a {
  color: #feeedb;
  text-decoration: none;
}

header .displayColumn {
  margin-right: 0;
  width: 10vw;
}

header .displayColumn ul,
header .displayColumn li {
  flex-direction: row;
  width: 10vw;
}

.changePostionToRight {
  border-radius: 12px 0 0 12px;
  height: auto;
  width: 14vw;
  flex-direction: column;
  right: 0;
  margin-top: 10vh;
  transition-duration: 1s;
}

body main #home {
  align-items: center;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 110vh;
  padding: 0 4vw 0 4vw;
}

body main #home .home__text {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  color: #feeedb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 34vh;
  width: 50vw;
}

body main #home .home__text h2 {
  border-radius: 24px 0px;
  box-shadow: -6px -6px 2px 2px #2b6af2;
  margin-left: 0;
  padding: 8px;
  width: 46vw;
  /*   .p1 {
                        animation-duration: 2s;
                        animation-name: animationOpacity;
                    } */
  /* DEMO-SPECIFIC STYLES */
}

body main #home .home__text h2 .p2 {
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: animationOpacity;
  opacity: 0;
}

body main #home .home__text h2 .p1 {
  color: #fff;
  overflow: hidden;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Adjust as needed */
  animation: typing 3s steps(50, end);
}

body main #home .home__text h3 {
  border-radius: 0px 0px 36px;
  box-shadow: 6px 6px 2px 2px #2b6af2;
  padding: 8px;
  width: 46vw;
}

body main #home .home__text h3 .p3 {
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: animationOpacity;
  opacity: 0;
}

body main #home .home__photo {
  align-items: center;
  color: #2b6af2;
  display: flex;
  height: 70vh;
  justify-content: center;
  margin: auto auto;
  width: 40vw;
}

body main #home .home__photo--frame {
  align-items: flex-end;
  background-color: #2b6af2;
  border-radius: 20px;
  box-shadow: 0 0 20px 20px #2b6af2;
  display: flex;
  height: 80%;
  justify-content: center;
  width: 60%;
}

body main #home .home__photo--frame--file {
  border-radius: 20px;
  max-height: 130%;
  max-width: 130%;
  overflow-x: hidden;
}

body main #aboutMe {
  background-color: #222222;
  height: 110vh;
  padding: 0 4vw 0 4vw;
}

body main #aboutMe .aboutMe__text {
  margin-top: 5vh;
  width: 80vw;
}

body main #aboutMe .aboutMe__text p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 12px;
}

body main #aboutMe h3 {
  margin-top: 10vh;
}

body main #aboutMe h3 a {
  text-decoration: underline;
}

body main #projects {
  background-color: #2c2c2c;
  height: 90vh;
}

body main #projects .section__container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin: auto auto;
  width: 70vw;
}

body main #projects .section__container--projectBox {
  align-items: center;
  /*  border: solid 1px red; */
  box-shadow: 4px 4px 2px 2px black;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  width: 32vw;
}

body main #projects .section__container--projectBox h3 {
  border-bottom: solid 1px white;
  font-size: 1.1rem;
  height: 5vh;
  text-align: center;
  width: 80%;
}

body main #projects .section__container--projectBox--photo {
  /* border: solid 1px $shadow-color; */
  height: 30%;
  width: auto;
}

body main #projects .section__container--projectBox--photo .fileImg {
  border-radius: 12px;
  height: 100%;
  width: auto;
}

body main #projects .section__container--projectBox--description {
  /*  border: solid 1px white; */
  /*    box-shadow: -4px -4px 4px 4px $shadow-color; */
  font-size: 1rem;
  height: 20%;
  padding: 8px;
  text-indent: 30px;
  width: 90%;
}

body main #projects .section__container--projectBox--buttons {
  /* border: solid 1px green;  */
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 90%;
}

body main #projects .section__container--projectBox .projectButton {
  background-color: #171717;
  box-shadow: 4px 4px 2px 2px #2b6af2;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 20px auto;
  padding: 8px;
  width: 50%;
}

body main #projects .section__container--projectBox:hover {
  transition-duration: 2s;
  transform: scale(1.1);
  z-index: 1;
}

body main #small_projects {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body main #small_projects .section__container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin: auto auto;
  width: 70vw;
}

body main #small_projects .section__container--projectBox {
  align-items: center;
  /* border: solid 1px red; */
  /* box-shadow: 4px 4px 2px 2px black; */
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
  width: 32vw;
}

body main #small_projects .section__container--projectBox h3 {
  border-bottom: solid 1px white;
  font-size: 1.1rem;
  height: 5vh;
  text-align: center;
  width: 80%;
}

body main #small_projects .section__container--projectBox--photo {
  border: solid 1px #2b6af2;
  height: 20vh;
  width: auto;
}

body main #small_projects .section__container--projectBox--photo .fileImg {
  border-radius: 12px;
  height: 100%;
  width: auto;
}

body main #small_projects .section__container--projectBox--description {
  border: solid 1px yellow;
  font-size: 0.8rem;
  height: 20vh;
  padding: 8px;
  text-indent: 30px;
  width: 90%;
}

body main #small_projects .section__container--projectBox--buttons {
  border: solid 1px green;
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 90%;
}

body main #small_projects .section__container--projectBox .projectButton {
  background-color: #171717;
  box-shadow: 2px 2px 1px 1px #2b6af2;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 4px auto;
  padding: 2px;
  width: 35%;
}

body main #small_projects .section__container--projectBox:hover {
  background-color: #2c2c2c;
  transition-duration: 2s;
  transform: scale(1.2);
  z-index: 1;
}

body main #skills {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

body main #skills .skills__text {
  margin-top: 5vh;
  width: 80vw;
}

body main #skills .skills__text p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 12px;
}

body main h2 {
  border-radius: 12px;
  box-shadow: 0px 0px 2px 2px #2b6af2;
  color: #feeedb;
  margin: 20px auto;
  padding-top: 4vh;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 0vh;
  width: 20vw;
}

body main .section__container {
  /*       border: solid 1px red; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  margin: 20px;
  width: 80vw;
}

body footer {
  background-color: #222222;
  height: auto;
  padding: 6px;
  text-align: right;
}
